﻿@model LoginVM

<div class="row col-12">
    <h2>
        Log in!
    </h2>
</div>
<div>
    <div>
        <form asp-controller="Account" asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Log in" />
                </div>

        </form>
    </div>
</div>


