﻿<div class="mt-10">
    <div class="jumbotron">
        <h2 class="display-3">You have been successfully logged out!</h2>

        <hr class="my-4 ">
        
        <div class="lead">
            <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Register" role="button">Register</a>
            <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Login" role="button">Sign in</a>
        </div>
    </div>
</div>