﻿@model MemoVM
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity

<div class="container">
    <div class="row" id="notes">

        @foreach (var note in Model.Notes)
        {
            @if (note.IdentityUserId == @User.FindFirstValue(ClaimTypes.NameIdentifier))

            {
                <div class="col-lg-3 elementnote">
                    <div class=" card mb-3" data-memo-id="@note.Id">
                        <div class="card-header text-white bg-primary" style="min-height: 50px">
                            <div class="editable notetitle" style="float: left">@note.Title</div>
                            <a class="btn btn-primary savenote far fa-save" style="float: right; display: none" role="button"></a>
                            <a class="btn btn-primary delete far fa-trash-alt" data-toggle="modal" data-target="#deleteModal" style="float: right" role="button"></a>
                        </div>
                        <div class="card-body overflow-auto text">
                            <p class="card-text editable notetext">@note.Text</p>
                        </div>
                    </div>
                </div>
            }
        }

        @foreach (var list in Model.Lists)
        {
            @if (list.IdentityUserId == @User.FindFirstValue(ClaimTypes.NameIdentifier))
            {
                <div class="col-lg-3">
                    <div class=" card mb-3" style="max-width: 20rem;" data-memo-id="@list.Id">
                        <div class="card-header text-white bg-primary" style="min-height: 50px">
                            <div class="editable listtitle" style="float: left">@list.Title</div>
                            <a class="btn btn-primary delete far fa-trash-alt" data-toggle="modal" data-target="#deleteModal" style="float: right" role="button"></a>
                            <a class="btn btn-primary fas fa-plus additem" value="" role="button" style="float: right"></a>
                        </div>
                        <div class="card-body listcard">
                            <ul class="list-group overflow-auto text-black-50 items">
                                @foreach (var item in Model.Items)
                                {
                                    @if (item.ListId == list.Id)
                                    {
                                        <li class="d-flex list-group-item list-group-item-action" data-item-id="@item.Id">
                                            <div class="form-check">
                                                @{ string IsChecked = item.Checked ? "checked" : "";}
                                                <input class="form-check-input check" type="checkbox" @IsChecked >
                                                <a class="card-text editable itemtext" style="min-height: 10px">@item.Text</a>
                                            </div>
                                            <span class="rejectitem">&times;</span>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="modal" id="deleteModal">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button type="button" class="close back" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" value="" class="btn btn-primary confirm">Delete</button>
                <button type="button" class="back btn btn-secondary" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="templateitem">
    <li class="d-flex list-group-item list-group-item-action" data-item-id="0">
        <div class="form-check">

            <input class="form-check-input check" type="checkbox">
            <a class="card-text editable itemtext" style="min-height: 10px">Item text</a>

        </div>
        <span class="rejectitem">&times;</span>
    </li>
</script>

<script>

    var editfunction = function (event) {

        var p = $(event.target);
        p.attr("contenteditable", "true");
        p.focus();
    }

    var savenotefunction = function (event) {

        var aDiv = $(event.target);
        var noteid = aDiv.closest('.card').data('memo-id');
        var notetext = aDiv.parent().parent().find('p.notetext').text();
        var notetitle = aDiv.parent().parent().find('div.notetitle').text();
        if (noteid == 0) {
            $.ajax({
                type: "POST",
                url: "/Memo/CreateNote",
                data: { "Title": notetitle, "Text": notetext },
                success: function (response) {
                    aDiv.parent().parent().find('p').attr("contenteditable", "false");
                    aDiv.parent().parent().find('div.editable').attr("contenteditable", "false");
                    noteid = response.data;
                    aDiv.closest('.card').attr('data-memo-id', noteid).data('memo-id', noteid);
                }
            });
        }
        else {
            $.ajax({
                type: "POST",
                url: "/Memo/EditNote/" + noteid,
                data: { "Id": noteid, "Title": notetitle, "Text": notetext },
                success: function (data) {
                    aDiv.parent().parent().find('p').attr("contenteditable", "false");
                    aDiv.parent().parent().find('div.editable').attr("contenteditable", "false");
                }
            });
        };
    }

    var savelistfunction = function (event) {

        var aDiv = $(event.target);
        var memoid = aDiv.closest('.card').data('memo-id');
        var listtitle = aDiv.text();
        if (memoid == 0) {
            $.ajax({
                type: "POST",
                url: "/Memo/CreateList",
                data: { "Title": listtitle },
                success: function (response) {
                    aDiv.attr("contenteditable", "false");
                    memoid = response.data;
                    aDiv.closest('.card').attr('data-memo-id', memoid).data('memo-id', memoid);
                    aDiv.closest('.card').find('.additem').show();
                }
            });
        }
        else {
            $.ajax({
                type: "POST",
                url: "/Memo/EditList/" + memoid,
                data: { "Id": memoid, "Title": listtitle },
                success: function (data) {
                    aDiv.parent().siblings().find('p').attr("contenteditable", "false");
                    aDiv.siblings('div.editable').attr("contenteditable", "false");
                }
            });
        };
    }

    var deletefunction = function (event) {

        var memoid = $(event.target).parents(".card").data('memo-id');
        $(".modal").find("button.confirm").val(memoid);
    }

    var confirmfunction = function (event) {

        var memoid = $("button.confirm").val();
        if (memoid != 0) {
            $.ajax({
                type: "POST",
                url: "/Memo/Delete/" + memoid,
                data: { "Id": memoid },
                success: function (data) {
                    $('.modal').modal('toggle');
                    $('div.card[data-memo-id="' + memoid + '"]').parent().remove();
                }
            })
        }
        else {
            $('div.card[data-memo-id="' + 0 + '"]').parent().remove();
            $('.modal').modal('toggle');
        }
    }

    var additemfunction = function (event) {

        var listid = $(event.target).closest('.card').data('memo-id');
        var blank = $($("#templateitem").html());
        var itemtext = "Item text";
        $('.card[data-memo-id="' + listid + '"]').parent().find('.items').append(blank);

        $.ajax({
            type: "POST",
            url: "/Memo/CreateItem",
            data: { "ListId": listid, "ItemText": itemtext },
            success: function (response) {
                itemid = response.data,
                    blank.attr('data-item-id', itemid).data('item-id', itemid);
            }
        });
        $('.rejectitem', blank).click(deleteitemfunction);
        $('.itemtext', blank).blur(saveitemfunction);
        $('.notetitle, .notetext, .listtitle, .itemtext', blank).click(editfunction);
        $('.check', blank).click(checkingfunction);
        $('.list-group-item').mouseenter(function (event) {
            $(event.target).find('.rejectitem').show();
        });
        $('.list-group-item').mouseleave(function (event) { $('.rejectitem').hide() });
    }

    var deleteitemfunction = function (event) {

        var itemid = $(event.target).closest('.list-group-item').data('item-id');
        $.ajax({
            type: "POST",
            url: "/Memo/DeleteItem/" + itemid,
            data: { "Id": itemid },
            success: function (data) {
                $('li.list-group-item[data-item-id="' + itemid + '"]').remove();
            }
        });
    }

    var saveitemfunction = function (event) {

        var itemid = $(event.target).closest('.list-group-item').data('item-id');
        var itemtext = $(event.target).text();
        $.ajax({
            type: "POST",
            url: "/Memo/EditItem/" + itemid,
            data: { "Id": itemid, "Itemtext": itemtext },
            success: function (data) {
                $(this).attr("contenteditable", "false");
            }
        });
    }

    var checkingfunction = function (event) {
        var ischecked = $(event.target).prop('checked');
        var itemid = $(event.target).closest(".list-group-item").data("item-id");
        console.log(ischecked);
        if (ischecked == false) {
            $.ajax({
                type: "POST",
                url: "/Memo/UnCheck/" + itemid,
                data: { "Id": itemid }
            });
        }
        else {
            $.ajax({
                type: "POST",
                url: "/Memo/Check/" + itemid,
                data: { "Id": itemid }
            });
        }

    }

    $(document).ready(function () {
        $('.notetitle, .notetext, .listtitle, .itemtext').click(editfunction);
        $('.notetitle, .notetext').blur(savenotefunction);
        $('.listtitle').blur(savelistfunction);
        $('.delete').click(deletefunction);
        $('.back').click(function (event) {
            $('.modal').hide();
        });
        $('.confirm').click(confirmfunction);
        $('.additem').click(additemfunction);
        $('.list-group-item').mouseenter(function (event) {
            $(event.target).find('.rejectitem').show();
        });
        $('.list-group-item').mouseleave(function (event) { $('.rejectitem').hide() });
        $('.rejectitem').click(deleteitemfunction);
        $('.itemtext').blur(saveitemfunction);
        $('.check').click(checkingfunction);

    });
</script>
