﻿@using Microsoft.AspNetCore.Identity
@model LoginVM
@inject SignInManager<IdentityUser> SignInManager
<div class="mt-10">
    <div class="jumbotron">
        <h1 class="display-3">Welcome to the world of notes</h1>
        <p class="lead">Write down your note and we will remember it for you</p>
        <hr class="my-4 ">
        @if (!SignInManager.IsSignedIn(User))
        {
            <p>You need to register or sign in if you want to start</p>
            <div class="lead">
                <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Register" role="button">Register</a>
                <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Login" role="button">Sign in</a>
            </div>
        }
    </div>
</div>
