﻿body {
    padding-top: 120px;
}
.card-body {
    height: 150px;
}
.save {
    padding: 0;
}
.additem {
    margin-left: auto;
    margin-right: auto;
}

.listcard {
    padding: 0px;
    overflow: auto;
}

.editable {
    min-height: 10px;
    min-width: 100px;
}

.rejectitem {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
    display: none;
}